.game-wrapper {
    position: relative;
    width: 100%;
    max-width: 500px;
    min-width: 250px;
    background-color: #f3f6fa;

    &:after {
        content: '';
        display: block;
        padding-bottom: 100%;
    }

    .game {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

.game-table {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    background: #FFF;
    user-select: none;
    border: 2px solid #344861;

    &:after {
        box-sizing: border-box;
        display: block;
        content: "";
        position: absolute;
        left: 33.3333%;
        width: 33.3333%;
        top: 0;
        height: 100%;
        border-left: 2px solid #344861;
        border-right: 2px solid #344861;
        pointer-events: none;
    }

    tbody {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        overflow: hidden;

        &:after {
            box-sizing: border-box;
            display: block;
            content: "";
            position: absolute;
            left: 0;
            top: 33.3333%;
            width: 100%;
            height: 33.4%;
            border-top: 2px solid #344861;
            border-bottom: 2px solid #344861;
            pointer-events: none;
        }
    }

    &.show-mistakes .cell-mistake {
        .cell-value {
            color: #FB3D3F;
        }
    }
}

.game-row {
    display: flex;
    width: 100%;
    height: 11.11111%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.game-cell {
    display: flex;
    flex-basis: 11.1111%;
    box-sizing: border-box;
    position: relative;
    margin: 0;
    padding: 0;
    border-right: 1px solid #bec6d4;
    border-bottom: 1px solid #bec6d4;
    cursor: pointer;

    &:after {
        content: '';
        display: block;
        padding-bottom: 100%;
    }

    &:hover {
        background-color: #def;
    }

    &.cell-selected {
        background-color: #bbdefb;
    }

    &.cell-conflict {
        background-color: #f7cfd6;
    }
}

.cell-value {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-weight: 200;
    color: #666;
    text-align: center;
    font-size: 38px;

    @media screen and (max-width: 800px) {
        font-size: 30px;
    }

    &.cell-prefilled {
        font-weight: 300;
    }
}

/*******************************/
/**      NEW GAME BUTTON      **/
/*******************************/

.new-game-button-wrapper-header {
    display: none;
}

.new-game-button-wrapper {
    position: relative;
}

.new-game-button {
    height: 60px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #4a90e2;
    font-size: 20px;
    font-weight: 600;
    line-height: 60px;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    transition: all .2s ease-in-out;

    &:hover {
        background-color: #69a7f0;
    }

    &:active {
        background-color: #3277c7;
    }
}


/*******************************/
/***      NEW GAME MENU       **/
/*******************************/

.new-game-menu {
    display: block;
    position: absolute;
    top: calc(100% - 5px);
    left: 50%;
    width: 200px;
    margin: 0;
    padding: 0;
    border-radius: 8px;
    transform: translateX(-50%);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #fff;
    color: #000;
    z-index: 51;

    .tooltip-arrow {
        position: absolute;
        bottom: 100%;
        left: 50%;
        width: 50px;
        height: 25px;
        transform: translateX(-50%);
        overflow: hidden;

        &:after {
            content: "";
            position: absolute;
            top: 5px;
            left: 50%;
            width: 20px;
            height: 20px;
            background: #fff;
            transform: translateX(-50%) translateY(50%) rotate(45deg);
            box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
            border-top-left-radius: 8px;
        }
    }

    ul {
        padding: 13px 0;
        margin: 0;
        list-style: none;
    }

    a {
        display: block;
        padding: 11px 0;
        font-size: 16px;
        line-height: 1;
        font-weight: 600;
        color: #4a90e2;
        text-decoration: none;
        cursor: pointer;
        transition: all .2s ease-in-out;

        &:hover {
            background-color: #f3f6fa;
        }

        &.new-game-menu-cancel {
            color: #e55c6c;
        }
    }
}

.lost-progress-label {
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1.33;
    color: #6e7c8c;
}

.game-flex-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.game-controls-wrapper {
    min-width: 200px;
    max-width: 360px;
    width: 50%;
    margin-left: 20px;
    user-select: none;

    transition: opacity .3s ease-in-out;

    nav {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: 100%;
        width: 100%;
    }
}

.hotkeys-wrapper {
    user-select: text;
}